sudo: required

language: generic

services:
  -docker

before_install:
  - echo "간다잇"
  - docker build -t kshcloud/react:v4 -f Dockerfile.dev .

script:
  - docker run -e CI=true kshcloud/react:v4 npm run test -- --coverage


after success: 
  - echo "집에 가자잇"